/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* sign up */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.final {
  display:flex;
  
}


/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid black;
  width: 100%;
  background-image:  url("https://i.ibb.co/NNNMNjS/Untitled-design-2.png");
  background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  align-items: flex-end;
  height: 2rem;
  padding: 0.5rem 0.2rem 0 0.2rem;
  margin: 0;
  list-style: none;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:visited {
  color: inherit;
}

.navbar .active {
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  text-shadow: 1px 1px white;
}

/* Other styles... */

.styled-table {
  border-collapse: collapse;
  margin: 0;
  font-size: .8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px grey;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: .2rem;
  border: 1px solid #dddddd;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f38f;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

h6 {
  margin: .2rem;
}

input[type="number"],
input[type="text"] {
  -webkit-text-size-adjust: 100%;
  margin: 0.3rem;
  width: 1.9rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login input {
  margin: .3rem 0rem;
}

.login img {
  height: 15rem;
  margin: .5rem;
}

h1 {
  margin: 1rem 0 0.2rem 0;
}

h3, h4 {
  margin: .2rem;
}

.leaderboard nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: .5rem 1rem;
}

.nav-container {
  display: flex;
}

ul {
  margin: 0;
}

.logout-btn {
  color: black;
}

.login-btn {
  color: white;
}

.live-error {
  text-align: center;
  margin-top: 3rem;
}

.submit-btn {
  background-color: #009879;
  color: white;
}

.nav-btn {
  color: #009879
}

.google-sign-in {
  display: flex;
  align-items: center;
  background-color: white;
  color: #757575;
  border: 1px solid #dadce0;
  border-radius: 1rem;
  font-size: 16px;
  padding:.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: .5rem;
}

.google-sign-in:hover {
  background-color: #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.google-sign-in svg {
  margin-right: 10px;
}

.google-sign-in span {
  font-weight: 500;
  color: #757575;
}

/* own ball styles */
.own-ball, .leaderboard, .scramble4, .scramble2, .alt, .shamble {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.own-container {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 1rem;
}

.scorecard-row form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scorecard-title {
  margin-top: 1rem;
  font-size: 1.8rem;;
}

.border {
  border: 1px solid #009879;
  margin: .2rem;
  padding: .2rem;
  box-shadow: 1px 2px grey;
}

button {
  margin: .2rem;
}

/* Home styles */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page h1 {
  font-size: 3rem;
  text-shadow: 2px 2px white;
  margin-top: 2rem;
}

h1, h2 {
  text-shadow: 2px 2px white;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border: 2px solid black;
  padding: 1rem;
  box-shadow: 3px 3px grey;
  text-shadow: 1px 1px white;
}

.name-column, .net-column p {
  font-size: 1.5rem;
}

.name-column,
.net-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-column h2,
.net-column h2 {
  margin: 0;
  font-size: 1.2rem;
}

.name-column p,
.net-column p {
  margin: 0.5rem 0;
}

.net-column p {
  text-align: right;
}

/* bets */

.bet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  margin: 1rem auto;
}

.bet-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bet-flex {
  width: 50%;
  margin: 0 auto;
}

.recent-bets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-right: -1rem;
}

.recent-bets h2 {
  margin-left: 2rem;
  margin-bottom: -.01rem;
}

#other-input {
  width: 14rem;
  margin: .2rem 0;
}

label {
  margin-right: 0.4rem;
}

#bet-amount-label {
  margin-right: -.4rem;
}

#amount {
  width: 4rem;
}

/* results/history */

.results-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.results-page h2 {
  text-align: center;
}

.results-container {
  overflow: auto;
  height: 70vh;
}

.result-item {
  border: 2px solid black;
  box-shadow: 3px 3px lightgrey;
  margin: .5rem;
  padding: .5rem;
}

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 30%;
  margin-bottom: 0.5rem;
}

.submit-btn {
  width: 100%;
  height: 100%;
  background-color: #009879;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

.submit-btn:hover {
  background-color: #007f67;
}

.bet-btn, .confirm {
  background-color: #009879;
  border-color: #007f67;
  border-radius: 1rem;
  padding: 0 .5rem;
  color: white;
  width: 100%;
}

.dropdown {
  background-color: white;
  color: #007f67;
  margin: .2rem 0;
}
  
.final button {
    color: white;
    background-color: red;
    border-radius: 1rem;
    border-color: white;
    cursor: pointer;
  }
  
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 16px;
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    flex: 0 1 25%;
    box-sizing: border-box;
  }

  .input-container label {
     white-space: nowrap; 
  }

  .input-container input {
    font-size: 16px;
    flex: 1;
  }

  footer {
    background-color:#009879 ;
    border-top: 2px solid #007f67;
    color: white;
    text-align: center;
    margin: 2rem 0 0 0;
    padding: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    gap: .5rem;
  }


  .github-logo {
    height: 3rem;
    width: auto;
    margin: 0;
    padding: 0;
    padding-top: .3rem;
    }


    h4 {
      font-size: 1.5rem;
      margin: 0;
    }

    .solo-scores {
      display: flex;
      flex-direction: column;
      height: 40vh;
      justify-content: space-between;
      align-items: flex-start;
      margin: -.5rem 0 0 0 ;
      padding: 1rem;
      font-size: 1.2rem;
    }


@media (max-width: 768px) {
  .results-container {
    height: 50vh;
  }

  .input-container label {
    font-size: .8rem;
    margin-right: -.1rem;
 }

}
